[Unit]
Description="HashiCorp Vault Server"
Documentation=https://www.vaultproject.io
Requires=network-online.target
After=network-online.target

[Service]
Environment=VAULT_ETC="/etc/vault"
Environment=VAULT_CONFIG="bGlzdGVuZXIgInRjcCIgICB7CiAgYWRkcmVzcyA9ICIxMjcuMC4wLjE6ODIwMCIsCiAgdGxzX2Rpc2FibGUgPSB0cnVlLAp9CgpzdG9yYWdlICJjb25zdWwiICB7CiAgYWRkcmVzcyA9ICIxMjcuMC4wLjE6ODUwMCIKICBwYXRoID0gICJ2YXVsdCIKfQpkaXNhYmxlX2NsdXN0ZXJpbmcgPSB0cnVlCmNsdXN0ZXJfbmFtZSA9ICJ2YXVsdC1sYWIiCmxvZ19mb3JtYXQgPSAgImpzb24iCnVpID0gdHJ1ZQpkZWZhdWx0X2xlYXNlX3R0bD0iODc2MGgiCm1heF9sZWFzZV90dGw9Ijg3NjBoIgoKCgo="
User=root
Group=root
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
PIDFile=/var/run/vault/vault.pid

ExecStartPre=-/bin/bash -c 'if [[ ! -f /usr/local/bin/vault ]]; then curl -o /usr/local/bin/vault.zip https://releases.hashicorp.com/vault/1.3.0/vault_1.3.0_linux_amd64.zip && unzip -o /usr/local/bin/vault.zip  -d /usr/local/bin/; fi'
ExecStartPre=/bin/mkdir -p ${VAULT_ETC}
ExecStartPre=/bin/bash -c "echo -n ${VAULT_CONFIG} | base64 -d > ${VAULT_ETC}/config.hcl"
ExecStart=/usr/local/bin/vault server -config=${VAULT_ETC}/config.hcl

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target





